* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(10, 51, 251);
}
.navbar.navbar-1 .navbar-toggler-icon {
	background-image: url('https://mdbcdn.b-cdn.net/img/svg/hamburger6.svg?color=000');
}

#btn {
	position: absolute;
	top: 10px;
	right: 10px;
	height:75px;
	width: 75px;
	background-color: black;
	border-radius: 50%;
}

h1 {
	color: rgb(255, 59, 255);
	font-size: 70pt;
	font-weight: bold;
	font-family: poppins;
}

.h1title  {
	margin-top: 20px;
	margin-left: 60px;
	width: 600px;
}

p {
	color: white;
	margin-left: 60px;
	width: 320px;
	line-height: 30px;
	font-weight: lighter;
}

#apply {
	height: 40px;
	width: 170px;
	border-radius: 60px;
	font-weight: lighter;
	background-color: black;
	text-align:center;
	margin-top: 20px;
	margin-left: 60px;
	color: rgb(255, 59, 255);
	font-family: poppins;
}


@media screen and (min-width: 440px) and ( max-width: 600px) {
	body {
		background-color: olive;
	}
	h1 {
		font-size: 43pt;
	}
	.h1title {
		margin-left: 30px;
		margin-top: 140px;
		width: 400px;
	}
	p {
		margin-left: 30px;
		margin-top: 20px;
	}
	#btn {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 50px;
		height: 50px;
	}
	#apply {
		position: absolute;
		margin-left: 30px;
		bottom: 30px;
	}
}


@media screen and ( max-width: 440px) {
	
	body {
		background-color:maroon;
	}
	
	h1 {
		font-size: 30pt;
	}
	.h1title {
		margin-left: 30px;
		margin-top: 140px;
		width: 300px;
	}
	p {
		margin-left: 30px;
		margin-top: 20px;
		width: 220px;
	}
	#btn {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 38px;
		height: 38px;
	}
	#apply {
		position: absolute;
		margin-left: 30px;
		bottom: 30px;
	}
}